[Journal]
Storage=persistent
#Storage=none
#Compress=yes
#Seal=yes
#SplitMode=uid
#SyncIntervalSec=5m
#RateLimitIntervalSec=30s
#RateLimitBurst=10000
SystemMaxUse=10M
#SystemKeepFree=
SystemMaxFileSize=2M
SystemMaxFiles=5
#RuntimeMaxUse=10M
#RuntimeKeepFree=
#RuntimeMaxFileSize=5M
#RuntimeMaxFiles=5
#MaxRetentionSec=
#MaxFileSec=1month
#ForwardToSyslog=yes
#ForwardToKMsg=no
#ForwardToConsole=no
#ForwardToWall=yes
#TTYPath=/dev/console
#MaxLevelStore=debug
#MaxLevelSyslog=debug
#MaxLevelKMsg=notice
#MaxLevelConsole=info
#MaxLevelWall=emerg
#LineMax=48K
#ReadKMsg=yes