[Unit]
Description=hexo blog

[Service]
#MemoryLimit=250M
MemoryHigh=250M
CPUQuota=70%
WorkingDirectory=/blog
ExecStart=/usr/local/bin/hexo server
#Restart=always
#RestartSec=15s

[Install]
WantedBy=multi-user.target
