server {
    listen 443 ssl;

    server_name books.{{blog_domain}} ~^(perl|rust|systemd)-book\.{{blog_domain}}$;

    # 证书路径指定好，稍后将证书放到此处
    ssl_certificate /etc/nginx/ssl/{{blog_domain}}.cer;
    ssl_certificate_key  /etc/nginx/ssl/{{blog_domain}}.key;
    
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  5m;  
    ssl_protocols SSLv3 TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers  HIGH:!ADH:!EXPORT56:RC4+RSA:+MEDIUM;
    ssl_prefer_server_ciphers on;
 
    location / {
      proxy_set_header   X-Real-IP $remote_addr;
      proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header   Host $http_host;
      
      set $host_uri "${host}${request_uri}";

      if ($host_uri ~ "^books\.junmajinlong\.com/(?<which>rust|systemd|perl)(?<rest_uri>/.*)?$"){
        #add_header X-uri "$rest_uri";
        # rewrite books.junmajinlong.com/rust -> rust-book.junmajinlong.com
        #rewrite "^/(?<name>[^/]*)/?$" $scheme://$name-book.junmajinlong.com$rest_uri last;
        return 301 $scheme://$which-book.junmajinlong.com$rest_uri;
      }
      
      if ($host ~ "^perl-book\.{{blog_domain}}$"){
        proxy_pass         http://127.0.0.1:8882;
      }
      
      if ($host ~ "^rust-book\.{{blog_domain}}$"){
        proxy_pass         http://127.0.0.1:8880;
      }
      
      if ($host ~ "^systemd-book\.{{blog_domain}}$"){
        proxy_pass         http://127.0.0.1:8881;
      }
    }

    access_log  /var/log/nginx/book.access.log  main;
}


server {
    listen 80;
    server_name books.{{blog_domain}};
    return 301 https://www.{{blog_domain}};
}

server {
    listen 80;
    server_name ~^(?<which>perl|rust|systemd)-book\.{{blog_domain}}$;
    return 301 https://${which}-book.{{blog_domain}}$request_uri;
}
